@font-face {
    font-family: "Circe";
    src: url("./fonts/Circe-Regular.woff") format("woff");
    font-weight:400;
}
@font-face {
    font-family: "Circe";
    src: url('./fonts/Circe-Bold.woff') format("woff");
    font-weight:700;
}
body{
    margin:0;
    font-family: "Circe", serif;
}
header{
    padding: 20px 0 30px;
}
.topmenu{
    display: flex;
    justify-content: space-between;
}
.topmenu a{
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: #1E1E1E;
}
header a.phone svg{
    margin-right: 10px;
}
header a.phone{
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    text-transform: uppercase;
    color: #1E1E1E;
    display: flex;
    align-items: center;
}
header a.callme{
    font-size: 12px;
    line-height: 18px;
    text-decoration: underline!important;
    text-decoration-color: #787878!important;
    color: #787878!important;
    cursor: pointer;
    margin-left:22px;
}
header a.callme:hover{
    text-decoration: none!important;
}
header .email{
    display: flex;
    align-items: center;
}
header .email a{
    font-size: 12px;
    line-height: 18px;
    color: #787878;
}
header .email svg{
    margin-right:10px;
}
header .phonecall{
    display: flex;
    flex-direction: column;
}
header .social a{
    margin-right: 15px;
    text-decoration: none;
}
header .social a:last-child{
    margin-right: 0;
}
header #search button{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100px;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    line-height: 36px;
    background: #fff;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.05em;
    color: #1E1E1E;
}
header #search svg{
    position: absolute;
    left: 20px;
    top:50%;
    margin-top:-9px;
}
header #search input{
    width: 100%;
    padding: 0 100px 0 50px;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
}
header .container.bordbot{
    padding-bottom: 20px;
    margin-bottom: 25px;
    position: relative;
}
header .container.bordbot:after{
    height: 1px;
    width: calc(100% - 30px);
    left: 15px;
    bottom: 0;
    background: #dcdcdc;
    content: '';
    position: absolute;
}
button:focus{
    outline: none;
}
header #cart button,
header .lang button{
    background: none;
    padding: 0;
    border:0;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #1E1E1E;
}
header #cart button:after{
    display: none;
}
header .toolbar{
    display: flex;
}
header .toolbar>a,
header .toolbar>div{
    margin-left: 40px;
}
header .toolbar>a:first-child{
    margin-left: 0;
}

